<ion-header [translucent]="true">

</ion-header>

<ion-content>



  <div class="container">
    
    <img src="assets\congr.png" alt="" style="margin-top: 50px;">
    <div class="container">
      <ion-item lines="none" style="margin-top: 15%;margin-bottom: 50px; margin-left: -20px;">
        <div id="container">
          
          <strong>Thank you!</strong>
          <p>Now, welcome to our beautiful app!</p>
        
        </div>
      
      </ion-item>
      
      </div>

    <ion-item lines="none">
      <ion-button class="subButton" color="primary" size="large" expand="full" (click)="confirmationFunc()">Let's go!</ion-button>
    </ion-item>

  </div>
  
</ion-content>
