<ion-header [translucent]="true">

</ion-header>

<ion-content>

<div class="container">
<ion-item lines="none" style="margin-top: 7%; margin-left: -20px;">
  <div id="container">
    
    <strong>Welcome</strong>
    <p>Please login or sign up to continue using our app.</p>
  
  </div></ion-item></div>

  <img class="helloImg" src="assets/Hello.png" alt="image">

  <div class="container">
    <ion-item lines="none">
      <p class="subInfo">Enter via social networks</p>
      
    </ion-item>

    <ion-item lines="none">
      <ion-button class="socialButtons" color="secondary" size="large" expand="full"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      <ion-button class="socialButtons" color="tertiary" size="large" expand="full"><ion-icon name="logo-facebook"></ion-icon></ion-button>
    </ion-item>

    <ion-item lines="none">
      <p class="subInfo">or login with email</p>
    </ion-item>

    <ion-item lines="none">
      <ion-button class="subButton" color="primary" size="large" expand="full" (click)="sentSignPage()">Sing Up</ion-button>
    </ion-item>

    <ion-item lines="none">
      <p class="subInfo">Don't have an account ?<ion-button (click)="sentLoginPage()" fill="clear" style="margin-top: -5px;" >Login</ion-button></p>
    </ion-item>

  </div>
  
</ion-content>
